<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name = "description" content = "This is the user account creation page."/>
	<meta name = "keyword" content =  "nextstep account"/>
	<meta name = "robots" content = "noindex, nofollow"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<!-- Put this back
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.css')}}">
-->
<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="styles.css">
	<!-- Put this back
    <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet">
-->
<title>Account Creation (Step 1 of 4)</title>
</head>
<body>
	<div class="navbar-wrapper">
		<div class="container" id="navigation_bar">
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand pull-left hidden-sm" href="homepage.html" aria-hidden="true"><img src="img/next_step_logo.png"></a>
					</div> <!-- /.navbar-header -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="homepage.html"><span class="glyphicon glyphicon-home hidden-sm" aria-hidden="true"></span> Home</a></li>
							<li><a href="about.html"><span class="glyphicon glyphicon-info-sign hidden-sm"></span> About</a></li>
							<li><a href="contact_us.html"><span class="glyphicon glyphicon-envelope hidden-sm" aria-hidden="true"></span> Contact us</a></li>
							<li class="active"><a href="login.html"><span class="glyphicon glyphicon-user hidden-sm" aria-hidden="true"></span> Login<span class="sr-only">(current)</span></a></li>
						</ul>
						<form class="navbar-form navbar-right" role="search">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search">
							</div> <!-- /.navbar-form navbar-right -->
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div><!-- /.container -->
	</div><!-- /.navbar-wrapper -->
	<div class="container container-no-carousel" id="contents">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header" id="page-header">
					<h2>User Account Creation Page</h2>
				</div> <!-- /.page-header -->
			</div> <!-- /.col-lg-12 -->
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
				<div class="panel panel-default">
					<div class="panel-heading">
						Please fill out the following:
					</div>  <!-- /.panel-heading -->
					<div class="panel-body">
						<div class="panel-body">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
								0%
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
<form role="form" id="page0" onsubmit="return nextPage()">
								<div class="form-group">
									<label for="inputEmail">User ID (e-mail address)</label>
									<input class="form-control" id="inputEmail" type="email" placeholder="E-mail address" name="Email"></input>
									<span class="error">Please provide a valid email</span>
								</div> <!-- /.form-group -->
								<div class="form-group">
									<label for="inputPassword">Password</label>
									<input class="form-control" type="password" id="inputPassword" name="Password"placeholder="******** (must be at least 3 characters long)"></input>
									<span class="error">Password does not match!</span>
								</div> <!-- /.form-group -->
		
								<div class="form-group">
									<label for="inputRepassword">Verify Password</label>
									<input class="form-control" type="password" id="inputRepassword" name="Repassword" placeholder="********"></input>
									<span class="error">Password does not match!</span>
								</div> <!-- /.form-group -->
								<div id="submitPage0">				
									<button type="submit">Submit</button>
								</div>			
							</form>
						</div> <!-- /.col-lg-8 -->
					</div> <!-- /.row -->
				</div> <!-- /.panel-body -->
			</div> <!-- /.panel -->
			<nav>
				<ul class="pager">
					<li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
					<li class="next"><a href="account_setup_1.html">Next <span aria-hidden="true">&rarr;</span></a></li>
				</ul>
			</nav>
		</div> <!-- /.col-lg-8 -->
	</div> <!-- /.row -->
	<!-- FOOTER -->
	<footer>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	</footer>
</div> <!-- /container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<!-- Put this back!
	<script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
-->
<script>
	$(document).ready(function(){
		<!--Check email input -->
		$('#inputEmail').on('input', function() {
			var input=$(this);
			var validate = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
			var isEmail=validate.test(input.val());
			if(isEmail){
				input.removeClass("invalid").addClass("valid");
			}
			else{
				input.removeClass("valid").addClass("invalid");
			}
		});

		$('input').blur(function(){
			var pass = $('input[name=Password]').val();
			var repass = $('input[name=Repassword').val();

			if(pass!=repass){
				$('#inputPassword').removeClass("valid").addClass("invalid");
				$('#inputRepassword').removeClass("valid").addClass("invalid");				
			}

			else{
				$('#inputPassword').removeClass("invalid").addClass("valid");
				$('#inputRepassword').removeClass("invalid").addClass("valid");		
			}

			if(($('input[name=Password]').val().length < 3) || ($('input[name=Repassword]').val().length < 3)){
				$('#inputPassword').removeClass("valid").addClass("invalid");
				$('#inputRepassword').removeClass("valid").addClass("invalid");
			}
		});

		<!--Check whole form -->
		$("#submitPage0").click(function(event){
			var formData=$("#page0").serializeArray();
			var zeroErrors=true;
			for (var input in formData){
				var element=$("#input"+formData[input]['name']);
				var valid=element.hasClass("valid");
				var errorAt=$("span", element.parent());
				if (!valid){
					errorAt.removeClass("error").addClass("errorShow");
					zeroErrors=false;
				}
				else{
					errorAt.removeClass("errorShow").addClass("error");
				}
			}
			if (!zeroErrors){
				event.preventDefault(); 
			}
			//else{
			//	alert('All is swell #test remove later');
			//	var url ='www.google.com';
			//	window.location.href = url;
			//}
		});
	});

	function nextPage(){
		window.location.replace("account_setup_1.html");
		return false;
	}
</script>
</body>
</html>
