<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name = "description" content = "This is the user account creation page."/>
	<meta name = "keyword" content =  "nextstep account"/>
	<meta name = "robots" content = "noindex, nofollow"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<title>Account Creation (Step 2 of 4)</title>

	<link rel="icon" href="{{url_for('static', filename='img/next_step_stickman.ico')}}">
	<!-- CSS Files -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
	<!-- Navigation Bar -->
	<div class="navbar-wrapper">
		<div class="container" id="navigation_bar">
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<!-- Dropdown Menu Button -->
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Next Step Logo in the Navigation Bar -->
						<a class="navbar-brand pull-left hidden-sm" href="{{url_for('index')}}" aria-hidden="true"><img src="{{url_for('static',filename='img/next_step_logo.png')}}" alt="Next Step Logo"></a>
					</div> <!-- /.navbar-header -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<!-- Row of Buttons in the Navigation Bar -->
						<ul class="nav navbar-nav">
							<li><a href="{{url_for('index')}}"><span class="glyphicon glyphicon-home hidden-sm" aria-hidden="true"></span> Home</a></li>
							<li><a href="{{url_for('index')}}"><span class="glyphicon glyphicon-info-sign hidden-sm"></span> About</a></li>
							<li><a href="{{url_for('index')}}"><span class="glyphicon glyphicon-envelope hidden-sm" aria-hidden="true"></span> Contact us</a></li>
							<li class="active"><a href="{{url_for('index')}}"><span class="glyphicon glyphicon-user hidden-sm" aria-hidden="true"></span> Login<span class="sr-only">(current)</span></a></li>
						</ul>
						<!-- Search Form in the Navigation Bar -->
						<form class="navbar-form navbar-right" role="search" method="get" action="http://www.google.com/search">
							<!-- Search Icon -->
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							<!-- Search Input -->
							<input type="text" name="q" class="form-control" placeholder="powered by Google">
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div><!-- /.container -->
	</div><!-- /.navbar-wrapper -->

	<!-- Page Contents -->
	<div class="container container-no-carousel" id="contents">
		<!-- Page Header -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="page-header" id="page-header">
					<h2>User Account Creation Page</h2>
				</div> <!-- /.page-header -->
			</div> <!-- /.column control -->
		</div> <!-- /.row -->

		<!-- Account Setup Panel -->
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
				<!-- Panel -->
				<div class="panel panel-primary">
					<div class="panel-heading">
						Please fill out the following:
					</div>  <!-- /.panel-heading -->
					<div class="panel-body">
						<!-- Progress Bar -->
						<div class="panel-body">
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
									25%
								</div>
							</div>
						</div> <!-- /.progress bar -->

						<!-- Forms -->
						<div class="row">
							<form role="form" action="/account_setup_1/confirm" method="POST" id="page1">
								<div class="col-lg-8 col-lg-offset-2">
									<!-- First Name -->
									<div class="form-group">
										<label for="inputFirst">First Name</label>
										<input class="form-control alphaonly" id="inputFirst" type="text" name="First" placeholder="John">
										<span class ="error">Please enter your first name</span>
									</div> <!-- /.form-group -->
									<!-- Middle Name -->
									<div class="form-group">
										<label for="inputMiddle">Middle</label>
										<input class="form-control alphaonly valid" id="inputMiddle" type="text" name="Middle">
									</div> <!-- /.form-group -->
									<!-- Last Name -->
									<div class="form-group">
										<label for="inputLast">Last Name</label>
										<input class="form-control alphaonly" id="inputLast" type="text" name="Last" placeholder="Doe">
										<span class ="error">Please enter your last name</span>
									</div> <!-- /.form-group -->
									<hr>
									<!-- Street -->
									<div class="form-group">
										<label for="inputStreet">Street</label>
										<input class="form-control" id="inputStreet" type="text" name="Street" placeholder="742 EverGreen Terrace">
										<span class ="error">Please enter your address</span>
									</div> <!-- /.form-group -->
								</div> <!-- /.column control -->
								<div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-6">
									<!-- City -->
									<div class="form-group">
										<label for="inputCity">City</label>
										<input class="form-control alphaonly" id="inputCity" name="City" type="text">
										<span class ="error">Please enter your city</span>
									</div>
								</div> <!-- /.column control -->
								<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
									<!-- State -->
									<div class="form-group">
										<label>State</label>
										<select id="inputState" name="state" class="form-control">
											<option value="-1">&nbsp;</option>
											<option value="1" type="number">AL</option>
											<option value="2" type="number">AK</option>
											<option value="4"  type="number">AZ</option>
											<option value="5"  type="number">AR</option>
											<option value="6" type="number">CA</option>
											<option value="8" type="number">CO</option>
											<option value="9" type="number">CT</option>
											<option value="10" type="number">DE</option>
											<option value="12" type="number">FL</option>
											<option value="13" type="number">GA</option>
											<option value="15" type="number">HI</option>
											<option value="16" type="number">ID</option>
											<option value="17" type="number">IL</option>
											<option value="18" type="number">IN</option>
											<option value="19" type="number">IA</option>
											<option value="20" type="number">KS</option>
											<option value="21" type="number">KY</option>
											<option value="22" type="number">LA</option>
											<option value="23" type="number">ME</option>
											<option value="24" type="number">MD</option>
											<option value="25" type="number">MA</option>
											<option value="26" type="number">MI</option>
											<option value="27" type="number">MN</option>
											<option value="28" type="number">MS</option>
											<option value="29" type="number">MO</option>
											<option value="30" type="number">MT</option>
											<option value="31" type="number">NE</option>
											<option value="32" type="number">NV</option>
											<option value="33" type="number">NH</option>
											<option value="34" type="number">NJ</option>
											<option value="35" type="number">NM</option>
											<option value="36" type="number">NY</option>
											<option value="37" type="number">NC</option>
											<option value="38" type="number">ND</option>
											<option value="39" type="number">OH</option>
											<option value="40" type="number">OK</option>
											<option value="41" type="number">OR</option>
											<option value="42" type="number">PA</option>
											<option value="44" type="number">RI</option>
											<option value="45" type="number">SC</option>
											<option value="46" type="number">SD</option>
											<option value="47" type="number">TN</option>
											<option value="48" type="number">TX</option>
											<option value="49" type="number">UT</option>
											<option value="50" type="number">VT</option>
											<option value="51" type="number">VA</option>
											<option value="53" type="number">WA</option>
											<option value="54" type="number">WV</option>
											<option value="55" type="number">WI</option>
											<option value="56" type="number">WY</option>
										</select>
										<span class ="error">Please enter your State</span>
									</div> <!-- /.form-group -->
								</div> <!-- /.column control -->
								<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
									<!-- Zip code -->
									<div class="form-group">
										<label>ZIP</label>
										<input class="form-control numericonly" id="inputZIP" name="ZIP" type="number">
										<span class ="error">Please enter your 5-digit ZIP code</span>	
									</div> <!-- /.form-group -->
								</div> <!-- /.column control -->

								<div class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
									<hr>

									<!-- Previous Button -->
									<a href="{{url_for('return_account_setup')}}" class="btn btn-primary pull-left" role="button">&larr; Back</a>

									<!-- Next Button -->
									<input id="submitPage1" type="submit" class="btn btn-primary pull-right" value="Next &rarr;">
								</div>
							</form>
						</div> <!-- /.forms -->
					</div> <!-- /.panel-body -->
				</div> <!-- /.panel -->
			</div> <!-- /.column control -->
		</div> <!-- /.row -->

		<!-- FOOTER -->
		<footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<br>
			<p class="pull-right"><a href="#">Back to top</a></p>
			<p>&copy; 2016 Next Step, Inc. &middot; <a href="{{url_for('return_privacy')}}">Privacy</a> &middot; <a href="{{url_for('return_terms')}}">Terms</a></p>
		</footer>
	</div> <!-- /container -->

	<!-- JS Files -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
	<!---<script type="text/javascript" src="{{ url_for('static',filename='js/page1.js')}}"></script> -->
</body>
</html>
