<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name = "description" content = "This is the user account creation page."/>
	<meta name = "keyword" content =  "nextstep account"/>
	<meta name = "robots" content = "noindex, nofollow"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<title>Account Creation (Step 3 of 4)</title>

	<link rel="icon" href="{{url_for('static', filename='img/next_step_stickman.ico')}}">
	<!-- CSS Files -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
	<!-- Navigation Bar -->
	<div class="navbar-wrapper">
		<div class="container" id="navigation_bar">
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<!-- Dropdown Menu Button -->
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Next Step Logo in the Navigation Bar -->
						<a class="navbar-brand pull-left hidden-sm" href="{{url_for('index')}}" aria-hidden="true"><img src="{{url_for('static',filename='img/next_step_logo.png')}}" alt="Next Step Logo"></a>
					</div> <!-- /.navbar-header -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<!-- Row of Buttons in the Navigation Bar -->
						<ul class="nav navbar-nav">
							<li><a href="{{url_for('index')}}"><span class="glyphicon glyphicon-home hidden-sm" aria-hidden="true"></span> Home</a></li>
							<li><a href="{{url_for('return_about')}}"><span class="glyphicon glyphicon-info-sign hidden-sm"></span> About</a></li>
							<li><a href="{{url_for('return_contact')}}"><span class="glyphicon glyphicon-envelope hidden-sm" aria-hidden="true"></span> Contact us</a></li>
							<li class="active"><a href="{{url_for('return_log')}}"><span class="glyphicon glyphicon-user hidden-sm" aria-hidden="true"></span> Login<span class="sr-only">(current)</span></a></li>
						</ul>
						<!-- Search Form in the Navigation Bar -->
						<form class="navbar-form navbar-right" role="search" method="get" action="http://www.google.com/search">
							<!-- Search Icon -->
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							<!-- Search Input -->
							<input type="text" name="q" class="form-control" placeholder="powered by Google">
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div><!-- /.container -->
	</div><!-- /.navbar-wrapper -->

	<!-- Page Contents -->
	<div class="container container-no-carousel" id="contents">
		<!-- Page Header -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="page-header" id="page-header">
					<h2>User Account Creation Page</h2>
				</div> <!-- /.page-header -->
			</div> <!-- /.column control -->
		</div> <!-- /.row -->

		<!-- Account Setup Panel -->
		<div class="row">
			<!-- Panel -->
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Please fill out the following:
					</div>  <!-- /.panel-heading -->
					<div class="panel-body">
						<!-- Progress Bar -->
						<div class="panel-body">
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
									50%
								</div>
							</div>
						</div> <!-- /.progress bar -->

						<!-- Forms -->
						<div class="row">
							<form role="form" action="/account_setup_2/confirm" method="POST" id="page2">
								<!-- Grade Average -->
								<div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
									<div class="form-group">
										<label>Grade Average</label>
										<input class="form-control numericonly" id="inputGPA" name="gpa" type="number" min="0" max="100" onchange="limitGrade(this);">
										<span class ="error">Please enter your Grade Average</span>
									</div> <!-- /.form-group -->
								</div> <!-- /.column control -->

								<!-- ACT Scores -->
								<div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
									<label id="inputSAT">ACT Scores</label>
									<span class="error">Please fill in all ACT Scores</span>
								</div> <!-- /.col-lg-10 -->
								<div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">

									<!-- ACT ENGLISH -->
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="input-group input-group-md">
											<label class="input-group-addon" style="text-indent: 6px;">English</label>
											<input class="form-control numericonly" id="ACT_English" name="ACT_English" type="number" min="1" max="36">
										</div> <!-- /.input-group -->
									</div> <!-- /.column control -->

									<!-- ACT WRITING -->
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="input-group input-group-md">
											<label class="input-group-addon" style="text-indent: 8px;">Writing</label>
											<input class="form-control numericonly" id="ACT_Reading" name="ACT_Reading" type="number" min="1" max="36">
										</div> <!-- /.input-group -->
									</div> <!-- /.column control -->

									<!-- ACT MATH -->
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="input-group input-group-md">
											<label class="input-group-addon" style="text-indent: 20px;">Math</label>
											<input class="form-control numericonly" id="ACT_Math" name="ACT_Math" type="number" min="1" max="36">
										</div> <!-- /.input-group -->
									</div> <!-- /.column control -->
								</div> <!-- /.column control -->

								<!-- SAT Scores -->
								<div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
									<label id="inputSAT">SAT Scores</label>
									<span class="error">Please fill in all SAT Scores</span>
								</div> <!-- /.col-lg-10 -->
								<div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">

									<!-- SAT READING -->
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="input-group input-group-md">
											<label class="input-group-addon">Reading</label>
											<input class="form-control numericonly" id="inputSATR" name="Read" type="number" min="0" max="800" name="Read" onchange="limitSAT(this);">
										</div> <!-- /.input-group -->
									</div> <!-- /.column control -->

									<!-- SAT WRITING -->
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="input-group input-group-md">
											<label class="input-group-addon" style="text-indent: 8px;">Writing</label>
											<input class="form-control numericonly" id="inputSATW" name="Write" type="number" min="0" max="800" name="Write" onchange="limitSAT(this);">
										</div> <!-- /.input-group -->
									</div> <!-- /.column control -->

									<!-- SAT MATH -->
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="input-group input-group-md">
											<label class="input-group-addon" style="text-indent: 20px;">Math</label>
											<input class="form-control numericonly" id="inputSATM" name="Math" type="number" min="0" max="800" name="Math" onchange="limitSAT(this);">
										</div> <!-- /.input-group -->
									</div> <!-- /.column control -->
								</div> <!-- /.column control -->
								<div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12"><hr></div>

								<div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
									<!-- Preferred Major(s) -->
									<div class="form-group">
										<label>Which major(s) are you interested in?<br><small>(Hold ctrl, shift, or &#8984; cmd to select more. If you do not have a preference, leave it as it is)</small></label>
										<select multiple id="inputMajor" name="majors" class="form-control">
											<option value="1" type="number">Agriculture, Agriculture Operations, and Related Sciences</option>
											<option value="2" type="number">Architecture and Related Services</option>
											<option value="3" type="number">Area, Ethnic, Cultural, Gender, and Group Studies</option>
											<option value="4" type="number">Aviation</option>
											<option value="5" type="number">Biological and Biomedical Sciences</option>
											<option value="6" type="number">Business, Management, Marketing, and Related Support Services</option>
											<option value="7" type="number">Communication, Journalism, and Related Programs</option>
											<option value="8" type="number">Communications Technologies/technicians and Support Services</option>
											<option value="9" type="number">Computer and Information Sciences and Support Services</option>
											<option value="10" type="number">Construction Trades</option>
											<option value="11" type="number">Education</option>
											<option value="12" type="number">Engineering</option>
											<option value="13" type="number">Engineering Technologies and Engineering-Related Fields</option>
											<option value="14" type="number">English Language and Literature/letters</option>
											<option value="15" type="number">Family and Consumer Sciences/human Sciences</option>
											<option value="16" type="number">Foreign Languages, Literatures, and Linguistics</option>
											<option value="17" type="number">Health Professions and Related Programs</option>
											<option value="18" type="number">History</option>
											<option value="19" type="number">Homeland Security, Law Enforcement, Firefighting</option>
											<option value="20" type="number">Human Services</option>
											<option value="21" type="number">Legal Professions and Studies</option>
											<option value="22" type="number">Liberal Arts and Sciences Studies and Humanities</option>
											<option value="23" type="number">Library Science</option>
											<option value="24" type="number">Mathematics and Statistics</option>
											<option value="25" type="number">Mechanic and Repair Technologies/technicians</option>
											<option value="26" type="number">Military Technologies and Applied Sciences</option>
											<option value="27" type="number">Multi/interdisciplinary Studies</option>
											<option value="28" type="number">Natural Resources and Conservation</option>
											<option value="29" type="number">Parks, Recreation, Leisure, and Fitness Studies</option>
											<option value="30" type="number">Personal and Culinary Services</option>
											<option value="31" type="number">Philosophy and Religious Studies</option>
											<option value="32" type="number">Physical Sciences</option>
											<option value="33" type="number">Precision Production</option>
											<option value="34" type="number">Psychology</option>
											<option value="35" type="number">Science Technologies/technicians</option>
											<option value="36" type="number">Social Sciences</option>
											<option value="37" type="number">Theology and Religious Vocations</option>
											<option value="38" type="number">Transportation and Materials Moving</option>
											<option value="39" type="number">Visual and Performing Arts</option>
										</select>
									</div> <!-- form-group -->

									<!-- Preferred Degree -->
									<div class="form-group">
										<label>Preferred Degree</label>
										<select class="form-control" id="inputDegree" name="degree">
											<option value="0" type='number'>&nbsp;</option>
											<option value="1" type='number'>Associate</option>
											<option value="2" type='number'>Bachelor</option>
											<option value="3" type='number'>Master</option>
											<option value="4" type='number' >Graduate</option>
											<option value="0" type='number'>No Preference</option>
										</select>
										<span class ="error">Please select your preferred degree</span>
									</div> <!-- /.form-group -->

									<hr>

									<!-- Previous Button -->
									<a href="{{url_for('return_account_setup_1')}}" class="btn btn-primary pull-left" role="button">&larr; Back</a>

									<!-- Next Button -->
									<input id="submitPage2" type="submit" class="btn btn-primary pull-right" value="Next &rarr;">
								</div> <!-- /.column control -->
							</form>
						</div> <!-- /.row -->
					</div> <!-- /.panel-body -->
				</div> <!-- /.panel -->
			</div> <!-- /.column control -->
		</div> <!-- /.row -->

		<!-- FOOTER -->
		<footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<br>
			<p class="pull-right"><a href="#">Back to top</a></p>
			<p>&copy; 2016 Next Step, Inc. &middot; <a href="{{url_for('return_privacy')}}">Privacy</a> &middot; <a href="{{url_for('return_terms')}}">Terms</a></p>
		</footer>
	</div> <!-- /container -->

	<!-- JS Files -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
	<!-- <script type="text/javascript" src="{{ url_for('static',filename='js/page2.js')}}"></script> -->
</body>
</html>
