<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name = "description" content = "This is the user account creation page."/>
	<meta name = "keyword" content =  "nextstep account"/>
	<meta name = "robots" content = "noindex, nofollow"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<title>Account Creation (Step 4 of 4)</title>

	<!-- CSS Files -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<!-- Put this back
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.css')}}"> -->
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="styles.css">
	<!-- Put this back
	<link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet"> -->

</head>
<body>
	<!-- Navigation Bar -->
	<div class="navbar-wrapper">
		<div class="container" id="navigation_bar">
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<!-- Dropdown Menu Button -->
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Next Step Logo in the Navigation Bar -->
						<a class="navbar-brand pull-left hidden-sm" href="homepage.html" aria-hidden="true"><img src="img/next_step_logo.png" alt="Next step logo"></a>
					</div> <!-- /.navbar-header -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<!-- Row of Buttons in the Navigation Bar -->
						<ul class="nav navbar-nav">
							<li><a href="homepage.html"><span class="glyphicon glyphicon-home hidden-sm" aria-hidden="true"></span> Home</a></li>
							<li><a href="about.html"><span class="glyphicon glyphicon-info-sign hidden-sm"></span> About</a></li>
							<li><a href="contact_us.html"><span class="glyphicon glyphicon-envelope hidden-sm" aria-hidden="true"></span> Contact us</a></li>
							<li class="active"><a href="login.html"><span class="glyphicon glyphicon-user hidden-sm" aria-hidden="true"></span> Login<span class="sr-only">(current)</span></a></li>
						</ul>
						<!-- Search Form in the Navigation Bar -->
						<form class="navbar-form navbar-right" role="search">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search">
							</div> <!-- /.navbar-form navbar-right -->
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div><!-- /.container -->
	</div><!-- /.navbar-wrapper -->

	<!-- Page Contents -->
	<div class="container container-no-carousel" id="contents">
		<!-- Page Header -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="page-header" id="page-header">
					<h2>User Account Creation Page</h2>
				</div> <!-- /.page-header -->
			</div> <!-- /.column control -->
		</div> <!-- /.row -->

		<!-- Account Setup Panel -->
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Please fill out the following:
					</div>  <!-- /.panel-heading -->
					<div class="panel-body">
						<!-- Progress Bar -->
						<div class="panel-body">
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
									75%
								</div>
							</div>
						</div> <!-- /.progress bar -->

						<!-- Forms -->
						<div class="row">
							<form role="form" id="page3">
								<!-- Tuition Limit -->
								<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
									<div class="form-group">
										<label>Tuition Limit</label>
										<select id="inputTuition" name="Tuition" class="form-control">
											<option value="tuition_limit_empty">&nbsp;</option>
											<option value="tuition_limit_5000">$5,000</option>
											<option value="tuition_limit_10000">$10,000</option>
											<option value="tuition_limit_20000">$20,000</option>
											<option value="tuition_limit_30000">$30,000</option>
											<option value="tuition_limit_50000">$50,000</option>
											<option value="tuition_limit_100000">$100,000</option>
											<option value="tuition_limit_no_pref">No Preference</option>
										</select>
										<span class="error">Please choose your tuition limit</span>
									</div> <!-- /.form-group -->
								</div> <!-- /.column control -->

								<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
									<!-- Preferred State(s) -->
									<div class="form-group">
										<label>Which State(s) would you like to attend school?<br><small>(Hold ctrl, shift, or &#8984; cmd to Select More. Do not select any if you do not have a preference)</small></label>
										<select Multiple id="inputState" name="State" class="form-control">
											<option value="alabama">Alabama (AL)</option>
											<option value="alaska">Alaska (AK)</option>
											<option value="arizona">Arizona (AZ)</option>
											<option value="arkansas">Arkansas (AR)</option>
											<option value="california">California (CA)</option>
											<option value="colorado">Colorado (CO)</option>
											<option value="connecticut">Connecticut (CT)</option>
											<option value="delaware">Delaware (DE)</option>
											<option value="florida">Florida (FL)</option>
											<option value="georgia">Gerogia (GA)</option>
											<option value="hawaii">Hawaii (HI)</option>
											<option value="idaho">Idaho (ID)</option>
											<option value="illinois">Illinois (IL)</option>
											<option value="indiana">Indiana (IN)</option>
											<option value="iowa">Iowa (IA)</option>
											<option value="kansas">Kansas (KS)</option>
											<option value="kentucky">Kentucky (KY)</option>
											<option value="louisiana">Louisiana (LA)</option>
											<option value="maine">Maine (ME)</option>
											<option value="maryland">Maryland (MD)</option>
											<option value="massachusetts">Massachusetts (MA)</option>
											<option value="michigan">Michigan (MI)</option>
											<option value="minnesota">Minnesota (MN)</option>
											<option value="mississippi">Mississippi (MS)</option>
											<option value="missouri">Missouri (MO)</option>
											<option value="montana">Montana (MT)</option>
											<option value="nebraska">Nebraska (NE)</option>
											<option value="nevada">Nevada (NV)</option>
											<option value="new_hampshire">New Hampshire (NH)</option>
											<option value="new_jersey">New Jersey (NJ)</option>
											<option value="new_mexico">New Mexico (NM)</option>
											<option value="new_york">New York (NY)</option>
											<option value="north_carolina">North Carolina (NC)</option>
											<option value="north_dakota">North Dakota (ND)</option>
											<option value="ohio">Ohio (OH)</option>
											<option value="oklahoma">Oklahoma (OK)</option>
											<option value="oregon">Oregon (OR)</option>
											<option value="pennsylvania">Pennsylvania (PA)</option>
											<option value="rhode_island">Rhode Island (RI)</option>
											<option value="south_carolina">South Carolina (SC)</option>
											<option value="south_dakota">South Dakota (SD)</option>
											<option value="tennessee">Tennessee (TN)</option>
											<option value="texas">Texas (TX)</option>
											<option value="utah">Utah (UT)</option>
											<option value="vermont">Vermont (VT)</option>
											<option value="virginia">Virginia (VA)</option>
											<option value="washington">Washington (WA)</option>
											<option value="west_virginia">West Virginia (WV)</option>
											<option value="wisconsin">Wisconsin (WI)</option>
											<option value="wyoming">Wyoming (WY)</option>
										</select>
										<span class="error">Please select a State</span>
									</div> <!-- form-group -->


									<!-- Cost Preference -->
									<div class="form-group">
										<label>Cost Preference</label>
										<br>
										<label class="radio-inline">
											<input class="costbtn" type="radio" name="Cost" value="1">1
										</label>
										<label class="radio-inline">
											<input class="costbtn" type="radio" name="Cost" value="2">2
										</label>
										<label class="radio-inline">
											<input class="costbtn" type="radio" name="Cost" value="3">3
										</label>
										<label class="radio-inline">
											<input class="costbtn" type="radio" name="Cost" value="4">4
										</label>
										<label class="radio-inline">
											<input class="costbtn" type="radio" id="inputCost2" name="Cost" value="5">5
											<span class = "error">Please select one</span>
										</label>
									</div> <!-- /.form-group -->

									<!-- Distance Preference -->
									<div class="form-group">
										<label>Distance Preference</label>
										<br>
										<label class="radio-inline">
											<input class="distbtn" type="radio" name="Dist" value="1">1
										</label>
										<label class="radio-inline">
											<input class="distbtn" type="radio" name="Dist" value="2">2
										</label>
										<label class="radio-inline">
											<input class="distbtn" type="radio" name="Dist" value="3">3
										</label>
										<label class="radio-inline">
											<input class="distbtn" type="radio" name="Dist" value="4">4
										</label>
										<label class="radio-inline">
											<input class="distbtn" type="radio" id="inputDist2"name="Dist" value="5">5
											<span class = "error">Please select one</span>
										</label>
									</div> <!-- /.form-group -->

									<!-- Academic Preference -->
									<div class="form-group">
										<label>Academic Preference</label>
										<br>
										<label class="radio-inline">
											<input class="acadbtn" type="radio" name="Acad" value="1">1
										</label>
										<label class="radio-inline">
											<input class="acadbtn" type="radio" name="Acad" value="2">2
										</label>
										<label class="radio-inline">
											<input class="acadbtn" type="radio" name="Acad" value="3">3
										</label>
										<label class="radio-inline">
											<input class="acadbtn" type="radio" name="Acad" value="4">4
										</label>
										<label class="radio-inline">
											<input class="acadbtn" type="radio" id="inputAcad2" name="Acad" value="5">5
											<span class = "error">Please select one</span>
										</label>
									</div> <!-- /.form-group -->
								</div> <!-- /.column control -->
							</form>
						</div> <!-- /.row -->
					</div> <!-- /.panel-body -->
				</div> <!-- /.panel -->

				<!-- Previous Button -->
				<a href="account_setup_2.html" class="btn btn-primary pull-left" role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Previous</a>

				<!-- Next Button -->
				<a id="submitPage3" href="account_setup_4.html" class="btn btn-primary pull-right" role="button">Submit <span class="glyphicon glyphicon-check" aria-hidden="true"></span></a>
			</div> <!-- /.column control -->
		</div> <!-- /.row -->

		<!-- FOOTER -->
		<footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<br>
			<p class="pull-right"><a href="#">Back to top</a></p>
			<p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
		</footer>
	</div> <!-- /container -->

	<!-- JS Files -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script src="js/page3.js"></script>

	<!-- Put this back!
	<script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>-->
	<!-- Put this back!
	<script src="{{ url_for('static',filename='js/page3.js')}}"></script>-->
</body>
</html>
