<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name = "description" content = "This is the user account creation page."/>
	<meta name = "keyword" content =  "nextstep account"/>
	<meta name = "robots" content = "noindex, nofollow"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width = device-width, initial-scale = 1">
    <link href="{{url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet">
	<!-- Put this back
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.css')}}">
-->
<!-- Custom styles for this template -->
    <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet">
<title>Account Creation (Step 2 of 4)</title>
</head>
<body>
	<div class="navbar-wrapper">
		<div class="container" id="navigation_bar">
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand pull-left hidden-sm" href="homepage.html" aria-hidden="true"><img src="img/next_step_logo.png"></a>
					</div> <!-- /.navbar-header -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="{{url_for('index')}}"><span class="glyphicon glyphicon-home hidden-sm" aria-hidden="true"></span> Home</a></li>
							<li><a href="{{url_for('return_about')}}"><span class="glyphicon glyphicon-info-sign hidden-sm"></span> About</a></li>
							<li><a href="{{url_for('return_contact')}}"><span class="glyphicon glyphicon-envelope hidden-sm" aria-hidden="true"></span> Contact us</a></li>
							<li class="active"><a href="{{url_for('return_log')}}"><span class="glyphicon glyphicon-user hidden-sm" aria-hidden="true"></span> Login<span class="sr-only">(current)</span></a></li>
						</ul>
						<form class="navbar-form navbar-right" role="search">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search">
							</div> <!-- /.navbar-form navbar-right -->
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div><!-- /.container -->
	</div><!-- /.navbar-wrapper -->
	<div class="container container-no-carousel" id="contents">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header" id="page-header">
					<h2>User Account Creation Page</h2>
				</div> <!-- /.page-header -->
			</div> <!-- /.col-lg-12 -->
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
				<div class="panel panel-default">
					<div class="panel-heading">
						Please fill out the following:
					</div>  <!-- /.panel-heading -->
					<div class="panel-body">
						<div class="panel-body">
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">
								25%
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<form role="form" action="/account_setup_1/confirm" method='POST' id="page1" >
								<div class="form-group">
									<label for ="inputFirst">First Name</label>
									<input class="form-control alphaonly" id="inputFirst" type="text" name="First" placeholder="John"></input>
									<span class ="error">Please enter your first name</span>
								</div> <!-- /.form-group -->
								<div class="form-group">
									<label for ="inputMiddle">Middle</label>
									<input class="form-control alphaonly valid" id="inputMiddle" type="text" name="Middle"></input>
								</div> <!-- /.form-group -->
								<div class="form-group">
									<label for "inputLast">Last Name</label>
									<input class="form-control alphaonly" id="inputLast" type="text" name="Last"placeholder="Doe"></input>
									<span class ="error">Please enter your last name</span>
								</div> <!-- /.form-group -->
								<div class="form-group">
									<label for="inputStreet">Street</label>
									<input class="form-control" id="inputStreet" type="text" name="Street" placeholder="742 EverGreen Terrace"></input>
									<span class ="error">Please enter your address</span>
								</div> <!-- /.form-group -->
							<div class="container">
							<a href="#" class="btn btn-info" role="button">Link Button</a>
							<input type="submit" class="btn btn-info" value="Submit Button" id="submitPage1">
							</div>
							</form>
						</div> <!-- /.col-lg-8 -->
					</div> <!-- /.row -->
				</div> <!-- /.panel-body -->
			</div> <!-- /.panel -->
			<nav>
								<!--
								<nav>
				<ul id = "submitPage0" class="pager">
					<li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
					<li class="next"> <input type='submit'>Next</input> <span aria-hidden="true">&rarr;</span></a></li>
				</ul>
								</nav>
			-->

			</nav>
		</div> <!-- /.col-lg-8 -->
	</div> <!-- /.row -->
	<!-- FOOTER -->
	<footer>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	</footer>
</div> <!-- /container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<!-- Put this back!
	<script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
-->
<script>
	$(document).ready(function(){
		<!--First name must contain a character-->
		$('#inputFirst').on('input', function() {
			var input=$(this);
			var name=input.val();
			if(name){
				input.removeClass("invalid").addClass("valid");
			}
			else{
				input.removeClass("valid").addClass("invalid");
			}
		});		

		<!--Last name must contain a character-->
		$('#inputLast').on('input', function() {
			var input=$(this);
			var last=input.val();
			if(last){
				input.removeClass("invalid").addClass("valid");
			}
			else{
				input.removeClass("valid").addClass("invalid");
			}
		});				

		<!--Address must contain a character-->
		$('#inputStreet').on('input', function() {
			var input=$(this);
			var street=input.val();
			if(street){
				input.removeClass("invalid").addClass("valid");
			}
			else{
				input.removeClass("valid").addClass("invalid");
			}
		});		
		<!--Check whole form -->
		$("#submitPage1").submit(function(event){
			var formData=$("#page1").serializeArray();
			var zeroErrors=true;
			for (var input in formData){
				var element=$("#input"+formData[input]['name']);
				var valid=element.hasClass("valid");
				var errorAt=$("span", element.parent());
				if (!valid){
					errorAt.removeClass("error").addClass("errorShow");
					zeroErrors=false;
				}
				else{
					errorAt.removeClass("errorShow").addClass("error");
				}
			}
			if (!zeroErrors){
				event.preventDefault(); 
			}
		});
		
		<!--Class limits to alphabets only-->
		$('.alphaonly').bind('keyup blur',function(){ 
    		$(this).val( $(this).val().replace(/[^A-Za-z]/g,'') );
    	});
	});
</script>
</body>
</html>
