{% extends "/Web_Development/base.html" %}
{% block content %}
	<div class="navbar-wrapper">
		<div class="container" id="navigation_bar">
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand pull-left hidden-sm" href="homepage.html" aria-hidden="true"><img src="{{ url_for('static',filename='img/next_step_logo.png')}}"></a>
					</div> <!-- /.navbar-header -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="{{url_for('index')}}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
							<li><a href="{{url_for('return_about')}}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a></li>
							<li class="active"><a href="{{url_for('return_contact')}}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact us<span class="sr-only">(current)</span></a></li>
							{% if not session.logged_in %}
								<li><a href="{{url_for('return_log')}}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a></li>
							{% else %}
								<li><a href='{{url_for("logout")}}'><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Log-out </a></li>

							{% endif %}
						</ul>
						<form class="navbar-form navbar-right" role="search">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search">
							</div> <!-- /.form-group -->
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div><!-- /.container -->
	</div><!-- /.navbar-wrapper -->
	<img class="img-responsive" src="img/powerpuff_group_with_brizan.png" style="padding-bottom: 50px; display: block; margin-left: auto; margin-right: auto;">

	<div class="container jumbotron" style="padding-left: 50px; padding-right: 50px; padding-top: 40px;">
		<div class="row well">
			<div class="col-lg-12">
				<h1 class="page-header">Contact Us!
					<small>We'd love to hear from you!</small>
				</h1>
				<p>If you have any questions, comments, or concerns feel free to email us.</p>
				<p>Email Address: <a href="mailto:csNextStep@gmail.com">csNextStep@gmail.com</a></p>
			</div> <!-- /.col -->
		</div> <!-- /.row well -->
		<div class="row well">
			<div class="col-lg-12">
				<h2 class="page-header">Our Team</h2>
			</div> <!-- /.col-lg-12 -->
			<div class="col-lg-4 col-md-6 text-center">
				<img class="img-circle img-center" src="{{url_for('static',filename='img/powerpuff_yong.png')}}" alt="Generic placeholder image" width="140" height="140">
				<h2>Yong Yi Kong
					<small>Server Manager</small>
				</h2>
				<p>[Insert Description Here]</p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4 col-md-6 text-center">
				<img class="img-circle img-center" src="{{url_for('static',filename='img/powerpuff_joanne.png')}}" alt="Generic placeholder image" width="140" height="140">
				<h2>Joanne Lin
					<small>Database Manager</small>
				</h2>
				<p>[Insert Description Here]</p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4 col-md-6 text-center">
				<img class="img-circle img-center" src="{{url_for('static',filename='img/powerpuff_jose.png')}}" alt="Generic placeholder image" width="140" height="140">
				<h2>Jose Uribe
					<small>Back-end Developer</small>
				</h2>
				<p>[Insert Desciription Here]</p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div><!-- /.col-lg-4 -->

			<div class="col-lg-4 col-md-6 text-center">
				<img class="img-circle img-center" src="{{url_for('static',filename='img/powerpuff_justin.png')}}" alt="Generic placeholder image" width="140" height="140">
				<h2>Justin Wu
					<small>Web Programmer</small>
				</h2>
				<p>[Insert Description Here]</p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4 col-md-6 text-center">
				<img class="img-circle img-center" src="{{url_for('static',filename='img/powerpuff_david.png')}}" alt="Generic placeholder image" width="140" height="140">
				<h2>David Zhou
					<small>Front-end Developer</small>
				</h2>
				<p>[Insert Description Here]</p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div><!-- /.col-lg-4 -->
		</div><!-- /.row -->
		<br>
		<!-- FOOTER -->
		<footer>
			<p class="pull-right"><a href="#">Back to top</a></p>
			<p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
		</footer>
	</div> <!-- container-jumbotron -->
{% endblock %}
