<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name = "description" content = "This is the homepage."/>
	<meta name = "keyword" content =  "nextstep account"/>
	<meta name = "robots" content = "noindex, nofollow"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.css')}}">
	<!-- Custom styles for this template -->
    <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet">
	<title>Next Step</title>
	<style type="text/css">
		/* Side Navigation */

		@media(min-width:768px) {
			/* Everything within the Sidebar */
			.side-nav {
				position: fixed;
				top: 100px;
				left: 225px;
				width: 225px;
				margin-left: -225px;
				border: none;
				border-radius: 0;
				overflow-y: auto;
				background-color: #222;
				bottom: 0;
				overflow-x: hidden;
				padding-bottom: 40px;
			}

			.side-nav>li>a {
				width: 225px;
			}

			.side-nav li a:hover,
			.side-nav li a:focus {
				outline: none;
				background-color: #000 !important;
			}
		}

		.side-nav>li>ul {
			padding: 0;
		}

		.side-nav>li>ul>li>a {
			display: block;
			padding: 10px 15px 10px 38px;
			text-decoration: none;
			color: #999;
		}

		.side-nav>li>ul>li>a:hover {
			color: #fff;
		}
	</style>
</head>
<body>
	<div class="navbar-wrapper">
		<div class="container" id="navigation_bar">
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand pull-left" href="homepage.html" aria-hidden="true"><img src="next_step_logo.png"></a>
					</div> <!-- /.navbar-header -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="homepage.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home<span class="sr-only">(current)</span></a></li>
							<li><a href="about.html"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
							<li><a href="contact_us.html"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact us</a></li>
							<li><a href="login.html"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</a></li>
						</ul>
						<form class="navbar-form navbar-right" role="search">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search">
							</div> <!-- /.form-group -->
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div><!-- /.container -->
	</div><!-- /.navbar-wrapper -->
	<nav class="navbar" role="navigation">
		<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav side-nav">
				<li class="active">
					<a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
				</li>
				<li>
					<a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
				</li>
				<li>
					<a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
				</li>
				<li>
					<a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
				</li>
				<li>
					<a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
				</li>
				<li>
					<a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
				</li>
				<li>
					<a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
					<ul id="demo" class="collapse">
						<li>
							<a href="#">Dropdown Item</a>
						</li>
						<li>
							<a href="#">Dropdown Item</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
				</li>
				<li>
					<a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<!-- FOOTER -->
		<footer>
			<p class="pull-right"><a href="#">Back to top</a></p>
			<p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
		</footer>
	</div> <!-- container -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
</body>
</html>
