<html>
	<head>
		{% if title %}
		<title> {{ title }} - microblog </title>
		{% else %}
		<title> Welcome to microblog </title>
		{% endif %}
	</head>
	<body>
		<div> Microblog: <a href="/login">Home</a></div>
		<div> Register!  <a href='/register'>Home</a></div>
		<div> Logged in users only: <a href='/settings'>Settings</a></div>
		<div> LogOut <a href="/logout">LogOut </a></div>
		<hr>
		{% with messages =  get_flashed_messages() %}
			{% if messages %}
			<ul>
			{% for message in messages %}
				<li>{{ message }} </li>
			{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
		{% block content %} {% endblock %}
	</body>

</html>
